body {
    font-size: 15pt;
    background-image: url("/images/bg2.jpg");
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 1000px;
    color: floralwhite;
    animation-name: fade;
    animation-duration: 3s;
}

.font-1 {
    font-family: 'Cabinet Grotesk'
}

.font-2 {
    font-family: 'Clash Display'
}

.font-3 {
    font-family: 'Stardom'
}

.font-4 {
    font-family: 'Sentient'
}

.logo-box {
    padding: 0px;
    margin-bottom: 60px;
}

.logo-brand {
    padding: 5px 20px;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 100%;
    margin: auto;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
}

.photo-gallery {
    /*margin: 0 15px;
  border-radius: 18px;
  padding: 20px*/
    padding: 0 15px;
    text-align: center;
}

.photo-gallery p {
    font-size: 12px;
    color: #FFFFFFF2
}

.photo-gal-inside-poster div img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.go-button {
    background: #97E10F;
    color: black;
    border-radius: 10px;
    padding: 7px
}

.home-about {
    text-align: center;
    padding: 100px 0;
}

.home-about h1 {
    font-size: 58px
}

.home-about p {
    font-size: 13px;
    padding: 0 20px
}

.home-button {
    padding: 20px;
    text-align: center;
    margin: 20px;
    align-items: center;
    justify-content: center;
    transition: .5s
}

.home-button:hover {
    background: white;
    color: black;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navBtn {
    font-size: 12px;
    margin-left: 10px;
}

@media (max-width: 600px) {
    .photo-gal-inside-poster div img {
        height: 210px;
    }
}
